# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnpm

# testing
/coverage

# next.js
/.next/
/out/
/export/
/cache/

# Editors and IDEs
.dbshell
*.js.map

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.DS_Store
